In [4]:
import pandas as pd

In [5]:
import numpy as np

In [6]:
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
import pandas_datareader.data as web

In [8]:

from multiprocessing import Pool
from multiprocessing.dummy import Pool as ThreadPool

In [9]:
tencent = web.get_data_yahoo('0700.hk','2020-8-13','2020-8-18')

In [10]:
tencent

             High    Low   Open  Close    Volume  Adj Close
Date
2020-08-13  531.0  510.0  528.0  510.0  27254630      510.0
2020-08-14  514.0  501.5  502.5  506.5  17991410      506.5
2020-08-17  515.0  502.0  508.5  504.5  14790860      504.5
2020-08-18  516.5  509.0  515.0  512.0  13387270      512.0
2020-08-19  520.0  506.0  516.0  506.0  11096260      506.0

In [11]:
# 维度查看
tencent.shape

(5, 6)

In [12]:
#指定某一行
tencent.iloc[1] #输出为seires
tencent.iloc[[1]]

             High    Low   Open  Close    Volume  Adj Close
Date
2020-08-14  514.0  501.5  502.5  506.5  17991410      506.5

In [13]:
#指定行切片
tencent.iloc[1:3]

             High    Low   Open  Close    Volume  Adj Close
Date
2020-08-14  514.0  501.5  502.5  506.5  17991410      506.5
2020-08-17  515.0  502.0  508.5  504.5  14790860      504.5

In [14]:
#指定某一列
tencent[['Close']]

            Close
Date
2020-08-13  510.0
2020-08-14  506.5
2020-08-17  504.5
2020-08-18  512.0
2020-08-19  506.0

In [15]:
#指定列切片
tencent.iloc[:,1:3]

              Low   Open
Date
2020-08-13  510.0  528.0
2020-08-14  501.5  502.5
2020-08-17  502.0  508.5
2020-08-18  509.0  515.0
2020-08-19  506.0  516.0

In [16]:
#指定某个位置
tencent.iloc[2,:][['Close','Low']].to_frame()

       2020-08-17
Close       504.5
Low         502.0

In [17]:
#行列转换
tencent.iloc[2,:][['Close','Low']].to_frame().T

            Close    Low
2020-08-17  504.5  502.0

In [18]:
#指定某个位置 加上判断
tencent[tencent['Open']>510.0][['Close']]

            Close
Date
2020-08-13  510.0
2020-08-18  512.0
2020-08-19  506.0

In [21]:
#指定某个index值，返回行数

tencent.index.get_loc('2020-08-19')

4

In [22]:
sorted([2, 1, 3, -4, -2,-6], key=lambda x: (x<0, abs(x)))

[1, 2, 3, -2, -4, -6]

In [23]:
abs(-1)

1