In [1]:
from futu import *

In [9]:
import pandas as pd

In [6]:
quote_ctx = OpenQuoteContext(host='127.0.0.1', port=11111)
ret, df_stock, page_req_key = quote_ctx.request_history_kline('HK.800000', start='2016-01-01', end='2020-10-01')  
quote_ctx.close()

2020-10-07 05:57:54,353 [open_context_base.py] _socket_reconnect_and_wait_ready:255: Start connecting: host=127.0.0.1; port=11111;
2020-10-07 05:57:54,355 [open_context_base.py] on_connected:344: Connected : conn_id=3;
2020-10-07 05:57:54,358 [open_context_base.py] _handle_init_connect:445: InitConnect ok: conn_id=3; info={&#39;server_version&#39;: 216, &#39;login_user_id&#39;: 245840, &#39;conn_id&#39;: 6719591570389173876, &#39;conn_key&#39;: &#39;478AF439B591B0C0&#39;, &#39;conn_iv&#39;: &#39;3DA242212AEB2E30&#39;, &#39;keep_alive_interval&#39;: 10, &#39;is_encrypt&#39;: False};
2020-10-07 05:57:54,792 [network_manager.py] work:366: Close: conn_id=3

In [5]:
df_stock

,code,time_key,open,close,high,low,pe_ratio,turnover_rate,volume,turnover,change_rate,last_close
0,HK.800000,2018-01-02 00:00:00,30028.29,30515.31,30515.31,30028.29,0.0,0.0,0,1.268454e+11,1.621871,29919.15
1,HK.800000,2018-01-03 00:00:00,30658.73,30560.95,30724.32,30456.76,0.0,0.0,0,1.308320e+11,0.149564,30515.31
2,HK.800000,2018-01-04 00:00:00,30691.71,30736.48,30796.93,30560.43,0.0,0.0,0,1.318360e+11,0.574360,30560.95
3,HK.800000,2018-01-05 00:00:00,30893.86,30814.64,30911.01,30638.53,0.0,0.0,0,1.250078e+11,0.254291,30736.48
4,HK.800000,2018-01-08 00:00:00,30895.09,30899.53,30929.15,30732.54,0.0,0.0,0,1.337763e+11,0.275486,30814.64
...,...,...,...,...,...,...,...,...,...,...,...,...
241,HK.800000,2018-12-21 00:00:00,25512.30,25753.42,25805.61,25313.75,0.0,0.0,0,9.120961e+10,0.506917,25623.53
242,HK.800000,2018-12-24 00:00:00,25515.40,25651.38,25651.38,25421.43,0.0,0.0,0,3.467863e+10,-0.396219,25753.42
243,HK.800000,2018-12-27 00:00:00,25818.81,25478.88,25920.63,25446.80,0.0,0.0,0,5.619719e+10,-0.672478,25651.38
244,HK.800000,2018-12-28 00:00:00,25502.34,25504.20,25600.25,25416.36,0.0,0.0,0,4.695883e+10,0.099376,25478.88
245,HK.800000,2018-12-31 00:00:00,25732.52,25845.70,25916.23,25682.66,0.0,0.0,0,3.269145e+10,1.338995,25504.20

In [8]:
df_stock.to_csv('HSI.scv')

In [15]:
t = df_stock

In [14]:
df_stock['date']=pd.to_datetime(df_stock['time_key'])

In [16]:
df_stock

,code,time_key,open,close,high,low,pe_ratio,turnover_rate,volume,turnover,change_rate,last_close,date
0,HK.800000,2016-01-04 00:00:00,21782.62,21327.12,21794.84,21227.61,0.0,0.0,0,7.384408e+10,-2.679882,21914.40,2016-01-04
1,HK.800000,2016-01-05 00:00:00,21318.69,21188.72,21452.74,21095.90,0.0,0.0,0,7.243521e+10,-0.648939,21327.12,2016-01-05
2,HK.800000,2016-01-06 00:00:00,21142.63,20980.81,21199.62,20947.30,0.0,0.0,0,7.517537e+10,-0.981230,21188.72,2016-01-06
3,HK.800000,2016-01-07 00:00:00,20772.60,20333.34,20826.44,20323.97,0.0,0.0,0,1.071997e+11,-3.086011,20980.81,2016-01-07
4,HK.800000,2016-01-08 00:00:00,20491.88,20453.71,20596.42,20324.62,0.0,0.0,0,8.557016e+10,0.591983,20333.34,2016-01-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,HK.800000,2020-01-20 00:00:00,29169.12,28795.91,29174.92,28795.42,0.0,0.0,0,1.115991e+11,-0.896566,29056.42,2020-01-20
996,HK.800000,2020-01-21 00:00:00,28449.38,27985.33,28492.03,27980.50,0.0,0.0,0,1.328403e+11,-2.814914,28795.91,2020-01-21
997,HK.800000,2020-01-22 00:00:00,28116.50,28341.04,28393.93,27937.68,0.0,0.0,0,1.014927e+11,1.271059,27985.33,2020-01-22
998,HK.800000,2020-01-23 00:00:00,28109.75,27909.12,28133.03,27706.37,0.0,0.0,0,1.187059e+11,-1.524009,28341.04,2020-01-23
999,HK.800000,2020-01-24 00:00:00,27935.42,27949.64,27977.63,27774.50,0.0,0.0,0,4.732153e+10,0.145186,27909.12,2020-01-24

In [17]:
df_stock=df_stock.set_index('date',drop=True)

In [19]:
df_stock.to_csv('HSI.scv')

In [22]:
t=pd.read_csv('HSI.scv',index_col='date')

,date,code,time_key,open,close,high,low,pe_ratio,turnover_rate,volume,turnover,change_rate,last_close
0,2016-01-04,HK.800000,2016-01-04 00:00:00,21782.62,21327.12,21794.84,21227.61,0.0,0.0,0,7.384408e+10,-2.679882,21914.40
1,2016-01-05,HK.800000,2016-01-05 00:00:00,21318.69,21188.72,21452.74,21095.90,0.0,0.0,0,7.243521e+10,-0.648939,21327.12
2,2016-01-06,HK.800000,2016-01-06 00:00:00,21142.63,20980.81,21199.62,20947.30,0.0,0.0,0,7.517537e+10,-0.981230,21188.72
3,2016-01-07,HK.800000,2016-01-07 00:00:00,20772.60,20333.34,20826.44,20323.97,0.0,0.0,0,1.071997e+11,-3.086011,20980.81
4,2016-01-08,HK.800000,2016-01-08 00:00:00,20491.88,20453.71,20596.42,20324.62,0.0,0.0,0,8.557016e+10,0.591983,20333.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2020-01-20,HK.800000,2020-01-20 00:00:00,29169.12,28795.91,29174.92,28795.42,0.0,0.0,0,1.115991e+11,-0.896566,29056.42
996,2020-01-21,HK.800000,2020-01-21 00:00:00,28449.38,27985.33,28492.03,27980.50,0.0,0.0,0,1.328403e+11,-2.814914,28795.91
997,2020-01-22,HK.800000,2020-01-22 00:00:00,28116.50,28341.04,28393.93,27937.68,0.0,0.0,0,1.014927e+11,1.271059,27985.33
998,2020-01-23,HK.800000,2020-01-23 00:00:00,28109.75,27909.12,28133.03,27706.37,0.0,0.0,0,1.187059e+11,-1.524009,28341.04
999,2020-01-24,HK.800000,2020-01-24 00:00:00,27935.42,27949.64,27977.63,27774.50,0.0,0.0,0,4.732153e+10,0.145186,27909.12

In [23]:
t

,code,time_key,open,close,high,low,pe_ratio,turnover_rate,volume,turnover,change_rate,last_close
date,,,,,,,,,,,,
2016-01-04,HK.800000,2016-01-04 00:00:00,21782.62,21327.12,21794.84,21227.61,0.0,0.0,0,7.384408e+10,-2.679882,21914.40
2016-01-05,HK.800000,2016-01-05 00:00:00,21318.69,21188.72,21452.74,21095.90,0.0,0.0,0,7.243521e+10,-0.648939,21327.12
2016-01-06,HK.800000,2016-01-06 00:00:00,21142.63,20980.81,21199.62,20947.30,0.0,0.0,0,7.517537e+10,-0.981230,21188.72
2016-01-07,HK.800000,2016-01-07 00:00:00,20772.60,20333.34,20826.44,20323.97,0.0,0.0,0,1.071997e+11,-3.086011,20980.81
2016-01-08,HK.800000,2016-01-08 00:00:00,20491.88,20453.71,20596.42,20324.62,0.0,0.0,0,8.557016e+10,0.591983,20333.34
...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-20,HK.800000,2020-01-20 00:00:00,29169.12,28795.91,29174.92,28795.42,0.0,0.0,0,1.115991e+11,-0.896566,29056.42
2020-01-21,HK.800000,2020-01-21 00:00:00,28449.38,27985.33,28492.03,27980.50,0.0,0.0,0,1.328403e+11,-2.814914,28795.91
2020-01-22,HK.800000,2020-01-22 00:00:00,28116.50,28341.04,28393.93,27937.68,0.0,0.0,0,1.014927e+11,1.271059,27985.33
2020-01-23,HK.800000,2020-01-23 00:00:00,28109.75,27909.12,28133.03,27706.37,0.0,0.0,0,1.187059e+11,-1.524009,28341.04
2020-01-24,HK.800000,2020-01-24 00:00:00,27935.42,27949.64,27977.63,27774.50,0.0,0.0,0,4.732153e+10,0.145186,27909.12